<!doctype html>
<html lang="fr" ng-app="cocktailFinder">
<head>
  <meta charset="utf-8">
  <title>Cocktail Finder</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body class="container" ng-controller="recipeController as recipeCtrl">

<input type="button" name="button1" value="Prev" ng-click="recipeCtrl.decreaseIndex()" />
<input type="button" name="button1" value="Next" ng-click="recipeCtrl.increaseIndex()" />

	<h1>{{ recipeCtrl.currentCocktail.name }}</h1>
	<ul>
		<li ng-repeat="ingr in recipeCtrl.currentCocktail.ingredients">
		<input type="button" name="button1" value="I don't have this" ng-click="recipeCtrl.addMissing(ingr)" />
		{{ ingr.quantity }} {{ ingr.unity }} {{ ingr.name }}
		</li>
	</ul>
<h2>Missing Ingredients</h2>
	<ul>
		<li ng-repeat="ingr in recipeCtrl.missing">
		<input type="button" name="button1" value="Finally I have it" ng-click="recipeCtrl.removeMissing(ingr)" />
		{{ ingr.id }} {{ ingr.name }}
		</li>
	</ul>
</body>
</html>