<table class="table movietable">
    <tr>
        <td><h3>Details for {{ingredient.name}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Ingredient Name</td>
        <td>{{ingredient.name}}</td>
    </tr>
    <tr>
        <td>Ingredient index</td>
        <td>{{ingredient.index}}</td>
    </tr>
    <tr>
        <td>Recipe Count</td>
        <td>{{ingredient.recipeCount}}</td>
    </tr>
    <tr ng-repeat="color in ingredient.colors" >
        <td ng-if="$index == 0">Colors</td>
        <td ng-if="$index != 0"></td>

        <td ng-style='{"background-color": color}'>{{color}}</td>
    </tr>
    <tr>
        <td>Selected Color</td>
        <td style="background-color: {{ingredient.selectedColor}}">{{ingredient.selectedColor}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editIngredient({id:ingredient.index})">Edit</a>
</div>