<h1>Translate</h1>
<h4>Source :</h4>
<div class="row">
    <div class="well">
        <div class="form-group">
            <input type="text" class="form-control" id="recipeName" placeholder="Display Qty" ng-model="origin" ng-change="change()">
        </div>
    </div>
</div>
<h4>Cleaned :</h4>
<div class="row">
    <div class="well">{{ tokens.cleaned }}</div>
</div>

<h4>Tokenized :</h4>

<div class="row">
    <div class="well">
        <div class="button-group">
            <button type="button" class="btn btn-default" ng-repeat="token in tokens.tokens">
                {{ token.str }}
            </button>
        </div>
    </div>
</div>

<h4>Computed :</h4>

<div class="row">
    <div class="well">
        <div class="btn-group" ng-repeat="token in tokens.tokens">
            <button type="button" class="btn dropdown-toggle {{token.style}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"">
                {{ token.str }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a ng-click="setType(token.pos, 'ingredient');">Ingredient</a></li>
                <li><a ng-click="setType(token.pos, 'subIngredient');">Sub-Ingredient</a></li>
                <li role="separator" class="divider"></li>
                <li><a ng-click="setType(token.pos, 'unityDisplayed');">Unity Displayed</a></li>
                <li><a ng-click="setType(token.pos, 'unityComputed');">Unity Computed</a></li>
                <li role="separator" class="divider"></li>
                <li><a ng-click="setType(token.pos, 'qty');">Quantity</a></li>
            </ul>
        </div>
    </div>
</div>


<h4>DB schema :</h4>
<div class="row">
    <div class="well">
        <div class="col-xs-12 col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Recipe</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="recipeName">Recipe Index</label>
                            <input type="text" class="form-control" id="recipeName" value="1234" placeholder="Index" disabled>
                        </div>
                        <div class="form-group">
                            <label for="recipeName">Recipe Name</label>
                            <input type="text" class="form-control" id="recipeName" value="Black Russian" placeholder="Name" disabled>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-2" ng-if="hasIngredient() || hasSubIngredient()" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Composed_Of</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="recipeName">Display Qty</label>
                            <input type="text" class="form-control" id="recipeName" placeholder="Display Qty" ng-value="getStr('qty');">
                        </div>
                        <div class="form-group">
                            <label for="recipeName">Computed Qty</label>
                            <input type="text" class="form-control" id="recipeName" placeholder="Computed Qty">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="recipeName">Display Unit</label>
                            <input type="text" class="form-control" id="recipeName" placeholder="Display Unit" ng-value="getStr('unityDisplayed');">
                        </div>
                        <div class="form-group">
                            <label for="recipeName">Computed Unit</label>
                            <input type="text" class="form-control" id="recipeName" placeholder="Computed Unit" ng-value="getStr('unityComputed');">
                        </div>
                        <div class="form-group">
                            <label for="recipeName">Conversion Ratio</label>
                            <input type="text" class="form-control" id="recipeName" placeholder="Ratio">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-2" ng-if="hasSubIngredient()">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">SubIngredient</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="recipeName">Sub Ingredient Index</label>
                            <input type="text" class="form-control" id="recipeName" placeholder="Index">
                        </div>
                        <div class="form-group">
                            <label for="recipeName">Sub Ingredient Name</label>
                            <input type="text" class="form-control" id="recipeName" placeholder="Name" ng-value="getStr('subIngredient');">
                        </div>
                        <div class="form-group">
                            <label for="sel1">Sub Ingredient type:</label>
                            <select class="form-control" id="sel1">
                                <option>Solid</option>
                                <option>Liquid</option>
                                <option>Icy</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-2" ng-if="hasSubIngredient()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Derivate_From</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="sel1">Relation type:</label>
                            <select class="form-control" id="sel1">
                                <option>Left</option>
                                <option>Right</option>
                                <option>Bidirectionnal</option>
                                <option>None</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-2" ng-if="hasIngredient()">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Ingredient</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="recipeName">Ingredient Index</label>
                            <input type="text" class="form-control" id="recipeName" placeholder="Index">
                        </div>
                        <div class="form-group">
                            <label for="recipeName">Ingredient Name</label>
                            <input type="text" class="form-control" id="recipeName" placeholder="Name" ng-value="getStr('ingredient');">
                        </div>
                        <div class="form-group">
                            <label for="sel1">Ingredient type:</label>
                            <select class="form-control" id="sel1">
                                <option>Solid</option>
                                <option>Liquid</option>
                                <option>Icy</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>

<h4>Displayed :</h4>

<div class="row">
    <div class="well">{{getStr("qty")}} {{getStr("unityDisplayed")}} {{getStr("subIngredient")}} {{getStr("ingredient")}}</div>
</div>

<h4>Understood :</h4>

<div class="row">
    <div class="well">
        <table class="table">
            <tr><td>QTY</td><td>{{getStr("qty")}}</td></tr>
            <tr><td>UNIT</td><td> {{getStr("unityComputed")}}</td></tr>
            <tr><td>TYPE</td><td> liquid</td></tr>
            <tr><td>COLOR</td><td> #yellow</td></tr>
        </table>
    </div>
</div>
