{% extends 'layout.html.twig' %}

{% block nav %}
{% include 'nav.html.twig' with {'active' : 'contact'} %}
{% endblock %}

{% block content %}
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h2 class="page-header centered-header">Say Hello</h2>
                        </div>
                    </div> <!-- /.row -->

                    <div class="row">

                        <div class="col-md-6 col-md-offset-3 pad-bottom-double">

                            <div class="pad-top pad-bottom-half text-center">
                                <img src="app/imgs/select/misc/img-066.jpg" alt="" class="img-responsive center-block">
                            </div>

                            <div class="pad-top-none contact-intro-container">
                                <p class="lead center-block text-center">
                                    We are available for freelance projects. <br>
                                    <span class="no-break"><strong>Are you ready ?</strong></span>
                                </p>
                            </div> <!-- /.contact-intro -->

                            <div class="contact-info-container">
                                <p>
                                    <i class="fa fa-envelope"></i> <strong> <a target="_blank" href="mailto:ephemere@epita.fr">ephemere@epita.fr</a></strong>
                                </p>

                                <p>
                                    <i class="fa fa-phone"></i> <strong><a target="_blank" href="tel:+39456333333">(+39) 456-333333</a></strong>
                                </p>

                                <p>
                                    <i class="fa fa-map-marker"></i> <strong><a target="_blank" href="https://goo.gl/maps/rMioM">EPITA, 14-16 Rue Voltaire, Le Kremlin Bicêtre, France</a></strong>
                                </p>
                            </div>

                        </div> <!-- /.col-md-6 -->

                    </div> <!-- .row -->
{% endblock %}
{% block javascripts %}

        <!-- Gallery dialog markup: this must go at the bottom -->
        <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close"><i class="fa fa-times"></i></a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>

        <!-- jQuery Version 1.11.1 -->
        <script src="lib/js/jquery-1.11.1.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="lib/js/bootstrap.min.js"></script>
        <!-- FitText Plugin -->
        <script src="lib/js/jquery.fittext.js"></script>
        <!-- ArcText Plugin -->
        <script src="lib/js/jquery.arctext.js"></script>
        <!-- Blue Imp GAllery Plugin -->
        <script src="lib/js/jquery.blueimp-gallery.min.js"></script>
        <!-- Theme Scripts -->
        <script src="app/js/app.js"></script>
{% endblock %}
