<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon">
        <link rel="icon" href="imgs/favicon.ico" type="image/x-icon">
        <meta name="description" content="Responsive Twitter Bootstrap Template For Photography Portfolio">
        <meta name="author" content="Maria Antonietta Perna">

        <title>Ephemere Club Photo</title>

        <!-- Bootstrap Core CSS -->
        <link href="lib/css/bootstrap.min.css" rel="stylesheet">

        <!-- FontAwesome -->
        <link href="lib/css/font-awesome.min.css" rel="stylesheet">

         <!-- Custom CSS -->
        <link href="lib/css/theme.css" rel="stylesheet">
    </head>
    <body class="home-page">

        <!-- .preloader -->
        <div class="preloader">
            <img src="app/imgs/preloader.gif" alt="">
        </div> <!-- /.preloader -->

        <!-- #page-content-wrapper -->
        <div id="page-content-wrapper" class="home">
            <div class="inner">
                <div class="image"></div>
                <div class="overlay">
                    <div class="container">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="banner text-center">
                                <h1>Ephemere Club Photo</h1>
                                <a href="work.php" class="btn btn-default light btn-lg">Enter Gallery</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /#page-content-wrapper -->

        <!-- jQuery Version 1.11.1 -->
        <script src="lib/js/jquery-1.11.1.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="lib/js/bootstrap.min.js"></script>
        <!-- FitText Plugin -->
        <script src="lib/js/jquery.fittext.js"></script>
        <!-- Blue Imp GAllery Plugin -->
        <script src="lib/js/jquery.blueimp-gallery.min.js"></script>
        <!-- Theme Scripts -->
        <script src="app/js/app.js"></script>
    </body>
</html>
