            <nav id="sidebar-wrapper" role="navigation">
                <ul class="sidebar-nav">
                    <li class="clearfix">
                        <!-- <div class="close-icon pull-right"> -->
                            <!-- <i class="fa fa-times"></i><span class="sr-only">Close</span> -->
                        <!-- </div> -->
                    </li>
                    <li class="branding">
                        <img class="img-responsive sidebar-img" src="/app/imgs/artist-sidebar.png" alt="">
                    </li>
                    <li><a title="App" href="/app">App</a></li>
                    <li><a title="Debug" href="/debug">Debug</a></li>
                    <li><a title="Ingredients" href="/ingredients">Ingredients</a></li>
                    <li><a title="Recipes" href="/recipes">Recipes</a></li>
                </ul> <!-- .sidebar-nav -->
            </nav> <!-- #sidebar-wrapper -->
