
body {
    height: 100%;
    font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@keyframes colorchange
{
    0%   {background: red;}
    25%  {background: yellow;}
    50%  {background: blue;}
    75%  {background: green;}
    100% {background: red;}
}

html {
    width: 100%;
    height: 100%;
}

.intro {
    color: #fff;
    top: 50% !important;
    margin-top: -200px;
    width: 100%;
    position: relative;
    text-align:center;
}

.onepage {
    color: #fff;
    bottom: 1% !important;
    width: 100%;
    position: initial !important;
    text-align:center;
}

.panel-debug {

}

.panel {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 1% 0% 1% 0%;
    top: 30% !important;
    background-color: transparent !important;
}


.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.background {
    height: 100%;
    width: 100%;
    position: absolute;
}

.background.background-intro {
    background-color: #337ab7;
    transition: background-color 1s ease-in;
}

.background.background-transition{
    animation: colorchange 50s infinite;
    -webkit-animation: colorchange 50s infinite; /* Chrome and Safari */
    transition: background-color 1s ease-in;
}

.preload * {
    transition: none !important;
}

.exclude-bar {
    position: absolute;
    bottom: 2%;
    left: 2%;
    right: 2%;
    height: 10%;
    overflow: auto;
}

.bar {
    background-color: rgba(255,255,255,0.4);
    padding-left: 2% !important;
    padding-top: 1%;
    padding-bottom: 1%;
}

#runapp {
    height: 100%;
    position: absolute !important;
    width: 100%;
    overflow: hidden;

}

.onepage li {
    text-align: left;
}

.onepage .exclude-bar ul{
    display: block;
}

.onepage .exclude-bar li{
    display: inline;
}

#startapp {
    height: 100%;
    position: absolute !important;
    width: 100%;
    overflow: hidden;
    background-color: #204d74;
}

.gotoapp {
    margin-top: 100px;
}

.backtohome {
    margin-top: 20%;
}