
body {
    height: 100%;
    font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

.screen {
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align:center;
    background-color: #337ab7;
}

.cocktailPanel {
    background-color: transparent;
    height:80%;
    width: 100%;
    display:flex;
}

.titlePanel {
    position:relative;
    text-align:center;
}


.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: 'Bubblegum Sans', cursive;
    font-weight: 400;
}

.background {
    height: 100%;
    width: 100%;
    position: absolute;
}

.background.background-intro {
    background-color: #337ab7;
    transition: background-color 1s ease-in;
}

.renderer {
    width: 50%;
}

.direction {
    height:100%;
    width: 50%;
    display:block;
}

.directionData {
    width:100%;
    top: 50%;
    position:relative;
}

#cocktailRenderer {
    height: 450px;
    width: 50%;
    position:absolute;
    top:20%;
    background-color:transparent;

}

.exclude-bar {
    position: relative;
    height: 20%;
    width: 100%;
    overflow: auto;
    padding-top: 2%;
}

.bar {
    background-color: rgba(255,255,255,0.2);
    padding-left: 2% !important;
    padding-top: 1%;
    padding-bottom: 1%;
}

#runapp {
    height: 100%;
    position: absolute !important;
    width: 100%;
    overflow: hidden;

}

.screen li {
    text-align: center;
    list-style-type:none;
}

.screen .exclude-bar ul{
    display: block;
}

.screen .exclude-bar li{
    display: inline;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.panel-title {
    font-family: 'Pacifico', cursive;
    font-size: 50px !important;
    color: black !important;
    text-shadow:
        -2px -2px 0 white,  
        2px -2px 0 white,
        -2px 2px 0 white,
        2px 2px 0 white;
}