
body {
    height: 100%;
    width:100%;
    background-color:white;
}

html {
    width: 100%;
    height: 100%;
}

.renderer {
    width: 100%;
}

#main-menu li {
    width:50%;
    text-align:center;
}


.direction {
    position:absolute;
    width: 50%;
    margin-top:10%;
    text-align:center;
}

.direction li {
    list-style-type:none;
}

.previousButton {
    display:inline-block;
    float:left;
}

.nextButton {
    float:right;
}

.wrappercocktails {
    display:inline-block;
    width: 100%;
}

#cocktailRenderer {
    height: 100%;
    width: 50%;
    left:50%;
    position:absolute;
    background-color:transparent;

}

.exclude-bar {
    position: relative;
    width: 50%;
    left: 0%;
    overflow: auto;

    text-align: center;
}

#cocktailList
{
    display:inline-block;
    padding-left:0px;
}

.panel-direction {
    display:inline-block;
    height: 80%;
    margin-left: 2%;
    margin-right: 2%;
    text-align:center;
}

.bar {
    background-color: rgba(255,255,255,0.2);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.exclude-bar ul{
    display: block;
}

.exclude-bar li{
    display: inline;
}


.panel-title2 {
    text-align:center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5%;
    font-size: 70px;
    color: #131502;
}

/* Basic Button Style*/
.btn {
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    background-color: none;
    cursor: pointer;
    padding: 5px 5px;
    display: inline-block;
    margin: 10px 1px;
    letter-spacing: 1px;
    font-weight:700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}


/* Blue Buttons */
.btn-blue {
    background-color: #417ab0;
    color: #fff;
    box-shadow: 0 6px #2a557e;
}

.btn-luxe {
    background-color: rgba(251, 248, 255, 0.88);
    color: black;
    font-family: 'Raleway', sans-serif;
    boc-shadow: 0 6px #ffc23a;
}

.btn-missing {
    background-color: rgba(251, 248, 255, 0.88);
    color: black;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 3px black;
}


/* Button b */
.btn-b:hover {
    box-shadow: 0 8px #2a557e;
    top: -2px;
}


.btn-b:active {
    box-shadow: 0 0 #2a557e;
    top: 6px;
}

.btn-missing:hover {
    box-shadow:0 6px red;
    top: -2px;
}


.colorsBlock {
    background: #fffbf9;
    position: absolute;
    z-index:1;
    color:black;
    display:inline;
    text-transform: uppercase;
    font-family: 'Helvetica Neue', cursive;
    font-weight: 400;
    text-align:center;
    -moz-box-shadow: 10px 10px 5px 0px #656565;
    -webkit-box-shadow: 10px 10px 5px 0px #656565;
    -o-box-shadow: 10px 10px 5px 0px #656565;
    box-shadow: 10px 10px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}

.colorView {
    height:40px;
    width:40px;
}


.colorSelected {
    height: 50px;
}

ul#listColors, li#listColors {
    list-style-type: none;
    padding-left: 0;
}

#listColors {
    background:lightgray;
    padding-bottom:10px;
    margin: auto;
}

.circleShow {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position:relative;
    border: 1px solid black;
}

.circleShow:hover {
    top: -3px;
    box-shadow:0 8px #003b80;
}

/* Create the animation blocks */

/* Spinning, gradient circle; CSS only! */
#advanced {
    width: 100px;
    height: 100px;

}