body {
    height: 100%;
    font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

.intro {
    color: #fff;
    top: 50% !important;
    margin-top: -200px;
    width: 100%;
    position: relative;
    text-align:center;
}

ul li{
    display: inline;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.background {
    height: 100%;
    width: 100%;
    position: absolute;
}

.background.background-intro {
    background-color: #337ab7;
    transition: background-color 1s ease-in;
}

.background.background-transition{
    background-color:#f7e1b5;
    transition: background-color 1s ease-in;
}

.preload * {
    transition: none !important;
}

.exclude-bar {
    position: absolute;
    bottom: 2%;
    left: 2%;
    right: 2%;
}

.bar {
    background-color: rgba(255,255,255,0.4);
}

#runapp {
    height: 100%;
    position: absolute !important;
    width: 100%;
    overflow: hidden;

}

#startapp {
    height: 100%;
    position: absolute !important;
    width: 100%;
    overflow: hidden;
    background-color: #204d74;
}

.gotoapp {
    margin-top: 100px;
}

.backtohome {
    margin-top: 20%;
}