
body {
    height: 100%;
    width: 100%;
    background: url('../img/bar.jpg') no-repeat center center fixed;
    background-size: cover;
    margin:0;
}


.wrapper {
    position:absolute;
    width:100%;
    height: 100%;
}

.direction {
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 10px;
    opacity: 0.8;
    width: 43%;
    top:30%;
    right: 7%;
    position:absolute;

}

#renderer {
    top:0;
    left:0;
    height: 99%;
    width: 50%;
    position:absolute;
    background-color: transparent;
}

/* 2 Equal-Width Columns V2 Layout Pattern CSS */
@media all and (max-width: 599px) {
    .direction { position:relative; margin: 0 auto 0 auto; width:100%; right:0%; }
    #renderer { right:auto;left:0; width:100%; height:100%; position:absolute}
}

.previousButton {
    position: absolute;
    height: 10vmin;
    width: 10vmin;
    bottom: 50%;
    background: rgba(49, 49, 44, 0.7) url(../img/br_prev.png) no-repeat center center;
    border-style: none;
    border-radius: 4px;
}

.nextButton {
    position: absolute;
    height: 10vmin;
    width: 10vmin;
    bottom: 50%;
    right: 0%;
    background: rgba(49, 49, 44, 0.7) url(../img/br_next_icon.png) no-repeat center center;
    border-style: none;
    border-radius: 4px;
}

.wrappercocktails {
    position: relative;
    display: block;
    width: 100%;
    height: 80%;
    margin: auto auto auto auto;
}


.exclude-bar {
    position: absolute;
    width: 100%;
    bottom: 0%;
    overflow: auto;

    text-align: center;
}

#cocktailList {
    padding-left:5%;
    padding-right:5%;
    text-align:center;
}

.quantityDirection {
    font-family: 'Raleway', sans-serif;
    font-size: 2vmin;
    color: black;
}

.directionLi {
    display:inline;
}

.bar {
    background-color: rgba(51,51,51,1);
    border-radius: 10px;
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.exclude-bar ul {
    display: block;
}

.exclude-bar li {
    display: inline;
}

.panel-title2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5%;
    font-size: 10vmin;
    color: #fbf8ff;
}

.panel-title3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5%;
    font-size: 4vmin;
    color: #fbf8ff;
}

/* Basic Button Style*/
.btn {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
}

/* Blue Buttons */
.btn-blue {
    background-color: #417ab0;
    color: #fff;
    box-shadow: 0 6px #2a557e;
}

/* Button b */
.btn:hover {
    box-shadow: 0 8px #2a557e;
    top: -2px;
}

.btn:active {
    box-shadow: 0 0 #2a557e;
    top: 6px;
}

.colorsBlock {
    background: #fffbf9;
    position: absolute;
    z-index: 1;
    color: black;
    display:inline-block;
    width: 400px;
    text-transform: uppercase;
    font-family: 'Helvetica Neue', cursive;
    font-weight: 400;
    -moz-box-shadow: 10px 10px 5px 0px #656565;
    -webkit-box-shadow: 10px 10px 5px 0px #656565;
    -o-box-shadow: 10px 10px 5px 0px #656565;
    box-shadow: 10px 10px 5px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}

.colorView {
    height: 40px;
    width: 40px;
}

.colorSelected {
    height: 50px;
}

ul#listColors, li#listColors {
    list-style-type: none;
    padding-left: 0;
}

#listColors {
    background: lightgray;
    padding-bottom: 10px;
    margin: auto;
}

.circleShow {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    border: 1px solid black;
}

.circleShow:hover {
    top: -3px;
    box-shadow: 0 8px #003b80;
}

/* Create the animation blocks */

/* Spinning, gradient circle; CSS only! */
#advanced {
    width: 100px;
    height: 100px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}