<!DOCTYPE html>
<html lang="en" ng-app="cocktailFinder">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cocktail Finder</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/cocktail.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="fonts/lora.css" rel="stylesheet" type="text/css">
    <link href="fonts/montserrat.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

</head>

<body class="preload" ng-controller="recipeController as recipeCtrl">

<div class="background background-intro">
    <div id="runapp">
        <div class="intro">
            <div class="row">
                <div class="col-sm-12">
                    <img class="img-responsive center-block" src="img/artist-sidebar.png"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="gotoapp btn btn-success">Need a drink ?</button>
                </div>
            </div>
        </div>
        <div class="onepage">
            <div class="panel">
                <div class="col-sm-6" style="height:100%;">
                </div>
                <div class="col-sm-6" style="height:100%;">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ recipeCtrl.currentCocktail.name }}</h3>
                            <br/>
                            <button type="button" ng-click="recipeCtrl.decreaseIndex();" class="btn btn-warning">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous
                            </button>
                            <button type="button" ng-click="recipeCtrl.increaseIndex();" class="btn btn-warning">
                                Next<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li ng-repeat="ingr in recipeCtrl.currentCocktail.ingredients">
                                    {{ ingr.quantity }} {{ ingr.unity }}
                                    <button type="button" ng-click="recipeCtrl.addMissing(ingr);" class="btn btn-success">
                                        {{ ingr.name }}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>

                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="exclude-bar">
                <div class=bar">
                    <ul name="excludes" class="list-unstyled bar">
                        <li ng-repeat="ingr in recipeCtrl.missing" id="{{ 'itemli' + $index }}">
                            <button type="button" ng-click="recipeCtrl.removeMissing(ingr);" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{ ingr.name }}
                            </button>
                            <!--<input type="button" name="button1" value="Finally I have it" ng-click="recipeCtrl.removeMissing(ingr)" />-->
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>


</div>


<script src="js/jquery.min.js"></script>
<script src="js/jquery.cycle2.js"></script>

<!-- Bootstrap Core JavaScript -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>

<!-- jQuery -->
<script src="js/cocktail.js"></script>

</body>

</html>
