<!DOCTYPE html>
<html lang="en" ng-app="cocktailFinder">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cocktail Finder</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/cocktail.css" rel="stylesheet">
    <link href="css/custom-styles.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="fonts/lora.css" rel="stylesheet" type="text/css">
    <link href="fonts/montserrat.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans|Rancho|Pacifico' rel='stylesheet' type='text/css'>

    <!-- Load Angular -->
    <script data-require="angular.js@*" data-semver="1.2.0-rc3-nonmin"
            src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script>
    <script data-require="ng-table@*" data-semver="0.3.0"
            src="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.js"></script>

    <link data-require="ng-table@*" data-semver="0.3.0" rel="stylesheet"
          href="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.css"/>
    <link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>

    <!-- Load App.js -->
    <script type="text/javascript" src="app.js"></script>

    <!-- Physics Script -->
    <script src="pixiLiquidfun/scripts/pixi.js"></script>
    <script src="pixiLiquidfun/scripts/jquery-1.11.2.min.js"></script>
    <script src="pixiLiquidfun/scripts/liquidfun.js"></script>

    <script src="pixiLiquidfun/main/variables.js"></script>
    <script src="pixiLiquidfun/parser/managerParser.js"></script>
    <script src="pixiLiquidfun/parser/managerCollision.js"></script>
    <script src="pixiLiquidfun/parser/managerObject.js"></script>
    <script src="pixiLiquidfun/parser/managerEdge.js"></script>
    <script src="pixiLiquidfun/parser/managerParticle.js"></script>
    <script src="pixiLiquidfun/parser/managerRecipe.js"></script>
    <script src="pixiLiquidfun/parser/managerBottle.js"></script>
    <script src="pixiLiquidfun/main/TresholdFilter.js"></script>
    <script src="pixiLiquidfun/main/cocktailRenderer.js"></script>

</head>
<body ng-controller="recipeController as recipeCtrl">
<div class="screen">
    <div id="wrapper">
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <button class="btn btn-primary" ng-click="recipeCtrl.hideMenu();"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
            <ul class="nav" id="main-menu">

                <li>
                    <a ng-click="recipeCtrl.createIceCubeOnRenderer();"><i class="fa fa-dashboard"></i> Add an IceCube !</a>
                </li>
                <li>
                    <a ng-click="recipeCtrl.createCitronOnRenderer();"><i class="fa fa-desktop"></i> Add a Citron !</a>
                </li>
                <li>
                    <a ng-click="recipeCtrl.createFlow();"><i class="fa fa-desktop"></i> Add some liquid !</a>
                </li>
                <li>
                    <a ng-click="recipeCtrl.removeCookie();"><i class="fa fa-desktop"></i> Delete cookies</a>
                </li>
            </ul>

        </div>

    </nav>
    </div>
    <div class="cocktailPanel">
        <div class="renderer">
            <div id="cocktailRenderer">
            </div>
        </div>
        <div class="direction">
            <div class="directionData">
                    <h1 class="panel-title">{{ recipeCtrl.currentCocktail.name }}</h1>
                    <br/>
                    <button type="button" ng-click="recipeCtrl.decreaseIndex();" class="btn btn-warning">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous
                    </button>
                    {{ recipeCtrl.currentIndex + 1 }} / 5
                    <button type="button" ng-click="recipeCtrl.increaseIndex();" class="btn btn-warning">
                        Next<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <ul id="cocktailList">
                        <li ng-repeat="ingr in recipeCtrl.currentCocktail.ingredients">
                            <label for="{{ 'button' + $index }}"></label> {{ ingr.quantity }} {{ ingr.unity
                            }}
                            <button id="{{ 'button' + $index }}" type="button"
                                    ng-click="recipeCtrl.addMissing(ingr);" class="btn btn-success">
                                {{ ingr.name }}<span class="glyphicon glyphicon-remove"
                                                     aria-hidden="true"></span>
                            </button>

                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <div class="exclude-bar">
        <div class="bar">
            <ul name="excludes" class="list-unstyled bar">
                <li ng-repeat="ingr in recipeCtrl.missing track by $index" id="{{ 'itemli' + $index }}">
                    <button type="button" ng-click="recipeCtrl.removeMissing(ingr);" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{ ingr.name }}
                    </button>
                    <!--<input type="button" name="button1" value="Finally I have it" ng-click="recipeCtrl.removeMissing(ingr)" />-->
                </li>
            </ul>
        </div>
    </div>

</div>
<!-- jQuery -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Plugin JavaScript -->
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/jquery.cycle2.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>

<!-- App core -->
<script type="text/javascript" src="colorwheel.js"></script>
<script type="text/javascript" src="js/cocktail.js"></script>

</body>

</html>
